<% form_for(entry) do |f| %>
<%= f.error_messages %>
<p><%= f.label :scope %><br><%= select_scope %>
<p><%= f.label :mac, 'MAC'%><br><%= f.text_field :mac %>
<p><%= f.label :ip, 'IP' %><br><%= f.text_field :ip %>
<p><%= f.label :itgid, 'ITG ID' %><br><%= f.text_field :itgid %>
<p><%= f.label :room, 'Room' %><br><%= f.text_field :room %>
<p><%= f.label :hostname, 'hostname' %><br><%= f.text_field :hostname %>
<p><%= f.label :uid, 'UID' %><br><%= f.text_field :uid %>
<p><span class=toggle_button><%= f.label :enabled %><%= f.check_box :enabled, :checked => entry.new_record? ? true : entry.enabled %></span>
<p><%= f.label :notes %><br><%= f.text_area :notes, :rows => 4 %>
<p><button type=submit class=save id=entry_submit><p><%= image_tag 'button_save.png' %>Save</button>
<% end %>
