<table id="entries" class="dhcp_table alt_rows sortable" cellspacing="0">
  <tr>
    <th>On</th>
    <th>Scope</th>
    <th>MAC</th>
    <th>IP</th>
    <th>ITG ID</th>
    <th>hostname</th>
    <th>UID</th>
    <th id="notes_th">Notes</th>
    <th style="min-width:35px"> &nbsp; </th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td>
        <% if entry.enabled %>
          <span class="invisible">on</span>
          <%= image_tag 'on.png' %>
        <% else %>
          <span class="invisible">off</span>
          <%= image_tag 'off.png' %>
        <% end %>
      </td>
      <td class="mono"><%=h entry.scope %></td>
      <td class="mono"><%=h entry.mac %></td>
      <td class="mono"><%=h entry.ip %></td>
      <td class="mono"><%=h entry.itgid %></td>
      <td class="mono"><%=h entry.hostname %></td>
      <td class="mono"><%=h entry.uid %></td>
      <td class="notes_col"><%=h entry.notes %></td>
      <td class="show_edit">
        <%= link_to image_tag('show.png', :style => 'margin-top:2px;'), entry, :title => 'Show' %><%= link_to image_tag('edit.png', :style => 'margin-top:2px;'), edit_entry_path(entry), :title => 'Edit' %>

        <%# link_to image_tag('magnifyingglass.png'), entry %>
        <%# link_to image_tag('pencil.png'), edit_entry_path(entry) %>
      </td>
    </tr>
  <% end %>
</table>
