<table class='dhcp_table alt_rows' id=show>
    <tr><th>Scope<td><%=h @entry.scope %>
    <tr><th>MAC<td><%=h @entry.mac %>
    <tr><th>IP<td><%=h @entry.ip %>
    <tr><th>ITG ID<td><%=h @entry.itgid %>
    <tr><th>Room<td><%=h @entry.room %>
    <tr><th>hostname<td><%=h @entry.hostname %>
    <tr><th>UID<td><%=h @entry.uid %>
    <tr><th>enabled<td>
        <% if @entry.enabled %>
          <%= image_tag 'on.png', :style => 'vertical-align:middle' %> On
        <% else %>
          <%= image_tag 'off.png', :style => 'vertical-align:middle' %> Off
        <% end %>
    <tr><th>Notes<td class=note_expanded><%=h @entry.notes %>
    <tr><th>Created<td><%=h @entry.created_at %>
    <tr><th>Updated<td><%=h @entry.updated_at %>
</table>

<% form_tag entry_path(@entry), :method => :delete do -%>    
  <div id=show_buttons>
  <button onclick='location.href="<%= edit_entry_path(@entry) %>"; return false;' class=edit><p><%= image_tag 'button_edit.png' %> Edit</p></button>
  <button onclick='return confirm("Really delete? Be sure! This cannot be undone!")' type=submit class=delete><p><%= image_tag 'button_delete.png' %> Delete</p></button>
</div>
<% end -%>

