<% form_for(host) do |f| %>
  <%= f.error_messages %>
  <div id=ip_picker>
    <div class=list></div>
  </div>
  <%= f.label :mac, 'MAC address'%>
  <%= f.text_field :mac %>
  <%= f.label :ip, "IP address <small>(<a href=# onclick='$(\"#host_ip\").val(\"\");return false'>blank</a> if dynamic)</small>" %>
  <%= f.text_field :ip %>
  <%= f.label :itgid, 'ITG ID' %>
  <%= f.text_field :itgid %>
  <%= f.label :room, 'Room' %>
  <%= f.text_field :room %>
  <%= f.label :hostname, 'hostname' %>
  <%= f.text_field :hostname %>
  <%= f.label :uid, 'UID' %>
  <%= f.text_field :uid %>
  <p class=mock_label>Enabled?</p>
  <%= f.radio_button :enabled, 'true', :checked => true %>
  <%= f.label 'enabled_true', 'Enabled' %>
  <%= f.radio_button :enabled, 'false' %>
  <%= f.label 'enabled_false', 'Disabled' %>
  <%= f.label :notes %>
  <%= f.text_area :notes, :rows => 4 %>
  <%= f.submit 'Save' %>
<% end %>
