<table id=hosts class=alt_rows cellspacing=0>
  <thead>
    <tr>
      <th><%= order @search, :by => :enabled, :as => 'On' %>
      <th><%= order @search, :by => :mac, :as => 'MAC' %>
      <th><%= order @search, :by => :ip_int, :as => 'IP' %>
      <th><%= order @search, :by => :itgid, :as => 'ITG ID' %>
      <th><%= order @search, :by => :room %>
      <th><%= order @search, :by => :hostname, :as => 'hostname' %>
      <th><%= order @search, :by => :uid, :as => 'UID' %>
      <th id=notes_th><%= order @search, :by => :notes %>
      <th style=min-width:35px> &nbsp; 
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td>
          <% if host.enabled %>
            <span class=invisible>on</span>
            <%= image_tag 'on.png' %>
          <% else %>
            <span class=invisible>off</span>
            <%= image_tag 'off.png' %>
          <% end %>
        
        <td><%= host.mac %>
        <td><%= host.ip %>
        <td><%= host.itgid %>
        <td><%= host.room %>
        <td><%= host.hostname %>
        <td><%= host.uid %>
        <%#
        
          !!IMPORTANT!!
          
          The next line has to be on one line since the contents of notes_col are whitespace:pre-wrap.

        %> 
        <td class=notes_col><%= host.notes %><td class=show_edit>
          <%= link_to image_tag('show.png', :style => 'margin-top:2px'), host, :title => 'Show' %><%= link_to image_tag('edit.png', :style => 'margin-top:2px'), edit_host_path(host), :title => 'Edit' %>
      
    <% end %>
</table>

<%= will_paginate @hosts %>

<%
  per_page_links = []
  [15,25,50,100,200,'All'].each do |i|
    uri = request.request_uri.gsub(/per_page=\d+/,'')
    uri.chomp! '&'
    uri += (uri.index '?') ? '&' : '?'
    uri += "per_page=#{i}"
    per_page_links << "<a href='#{uri}'>#{i}</a>"
  end
%>

<p id="per_page"><%= per_page_links.join(' | ') %> per page</p>
