<table id=hosts class=alt_rows cellspacing=0>
  <thead>
    <tr>
      <th><%= order @search, :by => :enabled, :as => 'On' %>
      <th><%= order @search, :by => :mac, :as => 'MAC' %>
      <th><%= order @search, :by => :ip_int, :as => 'IP' %>
      <th><%= order @search, :by => :itgid, :as => 'ITG ID' %>
      <th><%= order @search, :by => :room %>
      <th><%= order @search, :by => :hostname, :as => 'hostname' %>
      <th><%= order @search, :by => :uid, :as => 'UID' %>
      <th id=notes_th><%= order @search, :by => :notes %>
      <th style=min-width:35px> &nbsp; 
  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td class=enabled_col><%= enabled_image(host) %></td>
        <td><%= host.mac %></td>
        <td><%= host.ip %></td>
        <td><%= host.itgid %></td>
        <td><%= host.room %></td>
        <td><%= host.hostname %></td>
        <td><%= host.uid %></td>
        <td class=notes_col><%= host.notes %></td>
        <td class=show_edit><%= button_to :Show, host, :method => :get %><%= button_to :Edit, edit_host_path(host), :method => :get %></td>
    <% end %>
</table>

<%= will_paginate @hosts %>

<p id="per_page"><%= per_page_links %> per page</p>
