<table class=alt_rows id=show>
  <tr><th>MAC<td><%= @host.mac %></td>
  <tr><th>IP<td><%= @host.ip %></td>
  <tr><th>ITG ID<td><%= @host.itgid %></td>
  <tr><th>Room<td><%= @host.room %></td>
  <tr><th>hostname<td><%= @host.hostname %></td>
  <tr><th>UID<td><%= @host.uid %></td>
  <tr><th>enabled<td><%= enabled_image @host %> <%= @host.enabled? ? 'Yes' : 'No' %></td>
  <tr><th>Notes<td class=note_expanded><%= @host.notes %></td>
  <tr><th>Created<td><%= @host.created_at %></td>
  <tr><th>Updated<td><%= @host.updated_at %></td>
</table>

<% form_tag host_path(@host), :method => :delete do -%>    
  <div id=show_buttons>
    <button onclick='location.href="<%= edit_host_path(@host) %>"; return false;' class=edit>
      Edit
    </button>
    <button onclick='return confirm("Really delete? Be sure! This cannot be undone!")' type=submit class=delete>
      Delete
    </button>
  </div>
<% end -%>
