<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Deezy</title>
    <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
    <%= stylesheet_link_tag 'application' %>
    <% if RAILS_ENV == 'production' %>
      <%= javascript_include_tag 'all_min' %>
    <% else %>
      <%= javascript_include_tag 'prototype','effects','application' %>
    <% end %>
  </head>
  <body>
    <div id="faco">
      <div id="facr">
        <div id="facc">
          <div id="header">
            <h1><a href="/"><%= image_tag 'deezy.png' %></a></h1>
            <ul>
              <li><%= link_to 'Show All', '/' %></li>
              <li><%= link_to 'New Entry', new_entry_path %></li>
              <li><%= link_to 'dhcpd.conf', '/dhcpd.conf' %></li>
              <li><%= link_to 'dhcpd.leases', '/dhcpd.leases' %></li>
            </ul>
          </div>
          <div id="content" style="display:block">
            <%= yield %>
          </div>
          <div id="footer">
            <p>
            Copyright &copy; <span id="copyrightyear">2009</span> by the <a href="http://www.universityofcalifornia.edu/regents">Regents of the University of California</a><br />
            <a href="http://education.ucsb.edu">The Gevirtz Graduate School of Education</a>, 
            <a href="http://www.ucsb.edu">University of California, Santa Barbara</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
