<!doctype html>
<title>Deezy</title>
<meta name=description content='DHCP configuration application for The Gevirtz School'>
<meta name=author content='Justin Force <justin.force@gmail.com>'>
<meta charset=utf-8>
<link rel=icon type=image/png href=/images/favicon.png>
<%= stylesheet_link_tag 'application' %>
<% if RAILS_ENV == 'production' %>
  <%= javascript_include_tag 'all_min' %>
<% else %>
  <%= javascript_include_tag 'prototype','effects','application' %>
<% end %>
<div id=faco>
  <div id=facr>
    <div id=facc>
      <header>
      <a rel=home title=Deezy href=/ id=deezy_logo><%= image_tag 'deezy.png' %></a>
      <ul>
        <li><%= link_to 'Show All', '/' %>
        <li><%= link_to 'New Entry', new_entry_path %>
        <li><%= link_to 'dhcpd.conf', '/dhcpd.conf' %>
        <li><%= link_to 'dhcpd.leases', '/dhcpd.leases' %>
      </ul>

      <% form_for @search, :url => { :action => 'index' } do |f| %>
        <%= f.text_field :mac_or_ip_or_itgid_or_room_or_hostname_or_uid_or_notes_contains %> 
      <% end %>

      </header>
      <section id=content>
      <%= yield %>
      </section>
      <footer>
      <p><a rel=SCM title='Deezy on Trac' href=http://fez.education.ucsb.edu/trac/deezy><img src=/images/trac.png style=display:block;float:right alt='Deezy on Trac'></a>Copyright © <span id=copyrightyear>2009</span> by the <a href=http://www.universityofcalifornia.edu/regents>Regents of the University of California</a><br>
      <a href=http://education.ucsb.edu>The Gevirtz Graduate School of Education</a>, 
      <a href=http://www.ucsb.edu>University of California, Santa Barbara</a>
